doctype html
html(lang="en-US")
  head
    title #{title}
    meta(charset="UTF-8")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name='description', content='Fancy Text Font Generator. Get your personal stylish Instagram names and stories! Free and no registration required.')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='shortcut icon', href='/favicon.ico')
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='/favicon-144.png')
    link(rel='canonical', href='https://fancy-text-generator.com')
    meta(name='msapplication-config', content='/browserconfig.xml')
    meta(property='og:title', content='Fancy Text Font Generator')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://fancy-text-generator.com')
    meta(property='og:image', content='https://fancy-text-generator.com/v1.png')
    meta(property='og:description', content='Fancy Text Font Generator. Get your personal stylish Instagram names and stories! Free and no registration required.')
    script(type='application/ld+json').
      {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Fancy Text Font Generator",
        "image": "https://fancy-text-generator/v1.png",
        "description": "Fancy Text Font Generator. Get your personal stylish Instagram names and stories! Free and no registration required.",
        "keywords": "Fancy Text, Fancy Font, Fancy Text Generator, Fancy Text Copy and Paste",
        "genre":"Utility",
        "copyrightYear": "2019",
        "url":"https://fancy-text-generator.com",
        "author": {
          "@type":"WebSite",
          "name":"fancy-text-generator.com"
        },
        "publisher": {
          "@type":"Organization",
          "name":"fancy-text-generator.com",
          "logo":"https://fancy-text-generator.com/v1.png"
        }
      } 
    block style

  body
    block content
    footer 
      #links
        a(href='https://fancy-text-generator.com/' target='_blank' title='Fancy Font Text Generator')
          | Fancy
          | Font Text Generator
        a(href='https://high-qr-code-generator.com/' target='_blank' title='High Resolution QR Code Generator') QR Code Generator
        a(href='https://www.arealme.com/' target='_blank' title='ARealMe Quizzes') Super cool online quizzes

    block scripts 