/* ***S-APPLY TO ALL PAGES */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  --background-color: #ffffff;
  --header-color: rgba(255, 255, 255, 0.85);
  --sidebar-color: rgba(0, 0, 0, 0.65);
  --sidebar-hover-color: rgba(0, 0, 0, 0.1);
  --font-color: #000;
  --font-hover-color: #0c82e6;
  background: var(--background-color);
  color: var(--font-color);
}
.container {
  padding: 0 3rem;
}
.container-xxl {
  margin: auto;
  max-width: 1280px;
}
#links {
  margin: 90px auto 80px;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 0.8em;
}

#links a {
  padding: 9px 20px;
  color: #333;
  text-decoration: none;
}

#links a:hover {
  text-decoration: underline;
  color: #000;
}

.copy {
  /* display: none; */
  cursor: pointer;
  position: absolute;
  padding: 0.3rem 0.4rem;
  background-color: var(--font-hover-color);
  color: var(--background-color);
  font-size: 0.8rem;
  border-radius: 0.3rem;
  right: 0.7rem;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.2s linear;
}

.copy-wrapper {
  position: relative;
}
.copy-wrapper:hover {
  color: var(--font-hover-color);
}
.copy-wrapper:hover span {
  opacity: 1;
}
/* ***E-APPLY TO ALL PAGES */

/* Header */
h1,
h2,
h3,
h4 {
  margin: 0;
}
header {
  background-color: #000;
  color: var(--background-color);
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_container h1 {
  font-size: 1.4em;
}
.header_container nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--header-color);
}
.header_container nav ul a {
  display: inline-block;
}
.header_container nav ul li {
  padding: 0 0.6rem;
}
.header_container nav ul a:hover {
  color: var(--background-color);
}
.header_container nav ul a[aria-current] {
  font-weight: 500;
  color: var(--background-color);
}

/* ***E-APPLY TO ALL PAGES */

.bd-layout {
  grid-template-columns: 1fr 5fr;
}
.bd-layout {
  display: grid;
  gap: 1.5rem;
  grid-template-areas: "sidebar main";
  padding: 0 3rem;
}

.bd-main {
  grid-template-areas: "intro toc" "content toc";
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto 1fr;
  grid-area: main;
}
/* Aside */

.bd-sidebar ul {
  padding-left: 0;
}
.bd-sidebar .bg-links {
  text-align: left;
}

.bd-sidebar .category {
  width: 7rem;
  line-height: 1.5;
  display: inline-block;
  padding: 0.3rem 0.7rem;
  font-weight: 600;
  color: var(--sidebar-color);
  transition: all 0.2s linear;
}
.collapse li a:hover,
.bd-sidebar .category:hover,
.bd-sidebar .category.active {
  background-color: var(--sidebar-hover-color);
  color: var(--font-color);
  border-radius: 0.3em;
}
.bd-sidebar .category.active {
  border: 1px solid var(--sidebar-color);
}
.bd-sidebar .icon.active::before {
  transform: rotate(90deg);
}
.bd-sidebar .process::before,
.bd-sidebar .icon::before,
.bd-sidebar .date::before {
  display: inline-block;
  width: 1.5em;
  line-height: 0;
  vertical-align: text-bottom;
}
.bd-sidebar .icon::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.2s linear;
  transform-origin: 0.5em 50%;
}
.bd-sidebar .date::before {
  content: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='16' height='16' ml-update='aware'%3E%3Cpath d='M864 141h-41v-12c0-36-29-66-65-66h-1c-36 0-65 30-65 66v12H332v-12c0-36-29-66-65-66h-1c-36 0-65 30-65 66v12h-41c-36 0-65 29-65 65v626c0 36 29 65 65 65h704c36 0 65-29 65-65V206c0-36-29-65-65-65zm-146-12c0-22 18-40 39-40h1c22 0 39 18 39 40v116c0 22-17 39-39 39h-1c-21 0-39-17-39-39V129zm-491 0c0-22 17-40 39-40h1c21 0 39 18 39 40v116c0 22-18 39-39 39h-1c-22 0-39-17-39-39V129zm637 716H160c-7 0-13-6-13-13V372h730v460c0 7-6 13-13 13zM662 703'/%3E%3C/svg%3E");
}
.bd-sidebar .process::before {
  content: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='16' height='16' ml-update='aware'%3E%3Cpath d='M866 51H157c-43 0-78 35-78 77v771c0 42 35 76 78 76h702c46 0 84-36 84-81V128c0-42-34-77-77-77zm23 843c0 15-14 26-30 26H157c-13 0-23-9-23-21V128c0-12 10-22 23-22h709c12 0 23 10 23 22v766z' fill='%232c2c2c'/%3E%3Cpath d='M409 483 291 375a27 27 0 0 0-37 40l114 105-115 107a27 27 0 1 0 38 40l118-110a50 50 0 0 0 0-74z' fill='%232c2c2c'/%3E%3Cpath d='M585 483 467 375a27 27 0 0 0-37 40l115 105-115 107a27 27 0 1 0 37 40l118-110a50 50 0 0 0 0-74z' fill='%232c2c2c'/%3E%3Cpath d='M761 483 643 375a27 27 0 0 0-37 40l115 105-115 107a27 27 0 1 0 37 40l119-110a50 50 0 0 0-1-74z' fill='%232c2c2c'/%3E%3C/svg%3E");
}
.collapse {
  display: none;
}
.active ~ .collapse {
  display: block;
}
.fixedAside {
  position: fixed;
  top: 0;
}
nav li {
  font-size: 0.9rem;
  color: var(--sidebar-color);
  margin-left: 1.6rem;
}
nav li a {
  display: inline-block;
  margin-top: 0.25rem;
  padding: 0.2rem 0.5rem;
  transition: all 0.2s linear;
}

nav li a.active {
  color: var(--font-color);
  font-weight: 500;
}
.bd-content {
  margin-top: 1.5rem;
}

#date-input {
  margin-left: 0.8rem;
  margin-top: 0.2rem;
  font-size: 0.9rem;
}
#date-input input {
  margin-left: 0.3rem;
  padding: 0.3rem 0.2rem;
}
h4 {
  margin-top: 0.9rem;
}
.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.8rem;
}

.content-wrapper .flex-item {
  text-align: center;
  padding: 0.6rem 0.8rem;
}
.content-wrapper .item-33 {
  width: 33.3%;
}
.content-wrapper .item-50 {
  width: 50%;
}
.content-wrapper .flex-item p {
  cursor: pointer;
  width: 100%;
  padding: 0.3rem 0;
  margin: 0;
  border-radius: 0.3em;
  display: inline-block;
  border: 1px solid currentColor;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.content-wrapper .item-33 p:hover {
  color: var(--font-hover-color);
}
.copy {
  right: 1.5rem;
}
.sub-title {
  font-weight: normal;
  color: var(--sidebar-color);
}
.sub-title span {
  color: var(--font-color);
}
