* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  --background-color: #ffffff;
  --mytext-bg-color: #f0f0f0;
  --input-bg-color: #ffffff;
  --border-color: rgb(180, 180, 180);
  --sidebar-color: rgba(0, 0, 0, 0.65);
  --sidebar-hover-color: rgba(0, 0, 0, 0.1);
  --copy-text-border-color: #ced4da;
  --font-color: #000;
  --font-hover-color: #2e8dc4;
  --bg-hover-color: #7ab8ee23;
  background: var(--background-color);
  color: var(--font-color);
}
body.dark {
  --background-color: #181818;
  --mytext-bg-color: #181818;
  --input-bg-color: #121212;
  --border-color: #4b4b4b;
  --sidebar-color: rgba(255, 255, 255, 0.842);
  --sidebar-hover-color: rgba(255, 255, 255, 0.5);
  --copy-text-border-color: #646464;
  --font-color: #fff;
}

.dark .text-area .input-container {
  box-shadow: 0 0.5rem 1rem rgba(170, 170, 170, 0.25),
    inset 0 -1px 0 rgba(92, 91, 91, 0.85);
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
.container {
  padding: 0 1rem;
}
.container-xxl {
  margin: auto;
  max-width: 1280px;
}
#links {
  margin: 2rem 0 1.5rem 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 0.8em;
}

#links a {
  padding: 9px 20px;
  color: var(--sidebar-color);
  text-decoration: none;
}

#links a:hover {
  text-decoration: underline;
  color: var(--font-color);
}

.copy {
  display: none;
  pointer-events: none;
  cursor: pointer;
  position: absolute;
  padding: 0.3rem 0.4rem;
  background-color: var(--font-hover-color);
  color: var(--background-color);
  font-size: 0.8rem;
  border-radius: 0.3rem;
  right: 0.35rem;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  transition: 0.2s linear;
}

/* Dark Mode  */

.darkMode {
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: bottom;
}
.darkMode.active:before {
  opacity: 0;
}
.darkMode.active:after {
  opacity: 1;
}
.darkMode:after,
.darkMode:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: no-repeat 50%/120%;
}
.darkMode:before {
  /* Moon */
  background-image: url("data:image/svg+xml,%3Csvg class='icon' width='16' height='16' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' ml-update='aware'%3E%3Cpath fill='%23fff' d='M515 171a341 341 0 0 0 293 512 341 341 0 1 1-293-512z'/%3E%3C/svg%3E");
}
.darkMode:after {
  opacity: 0;
  /* Sun */
  background-image: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='16' height='16' ml-update='aware'%3E%3Cpath d='m344 298-58-58-48 48 58 58 48-48zm-90 183h-96v64h96v-64zm290-318h-65v93h65v-93zm241 125-49-48-57 58 45 45 61-55zM679 728l57 58 46-45-58-58-45 45zm90-183h96v-64h-96v64zM511 320c-106 0-193 87-193 193s87 193 193 193c107 0 193-87 193-193s-86-193-193-193m-32 543h65v-93h-65v93zM238 738l48 48 58-58-45-45-61 55z' fill='%23fff'/%3E%3C/svg%3E");
}

/* Header */

header {
  background-color: #181818;
  color: #fff;
}
header nav {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  color: #fff;
  font-size: 1.4rem;
}
/* NavBar */
#bdNavbar {
  display: flex;
}

.navbar-toggler {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.header_container nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.85);
}
.header_container nav ul a {
  display: inline-block;
}
.header_container nav ul li {
  padding: 0 0.6rem;
}
.header_container nav ul a:hover {
  color: #fff;
}
.header_container nav ul a[aria-current] {
  font-weight: 500;
  color: #fff;
}

/* ***E-APPLY TO ALL PAGES */

.bd-layout {
  position: relative;
  padding: 0 1rem;
  margin-top: 2rem;
}

.bd-main {
  margin-left: 280px;
}
/* Aside */

.bd-sidebar {
  width: 250px;
  overflow: scroll;
  position: absolute;
  top: 0;
  height: 80;
  white-space: nowrap;
}

.bd-sidebar ul {
  padding-left: 0;
}
.bd-sidebar .bg-links {
  margin-top: 0;
  text-align: left;
}

.bd-sidebar .category {
  width: 11.5rem;
  line-height: 1.5;
  display: inline-block;
  padding: 0.3rem 0.7rem;
  font-weight: 600;
  color: var(--sidebar-color);
  transition: all 0.2s linear;
}
.collapse li a:hover,
.bd-sidebar .category:hover,
.bd-sidebar .category.active {
  background-color: var(--sidebar-hover-color);
  color: var(--font-color);
  border-radius: 0.3em;
}
.bd-sidebar .category.active {
  border: 1px solid currentColor;
}

.bd-sidebar nav li {
  font-size: 0.9rem;
  color: var(--sidebar-color);
}
.bd-sidebar nav li a {
  display: inline-block;
  margin-top: 0.25rem;
  padding: 0.2rem 0.5rem;
  transition: all 0.2s linear;
}
.bd-sidebar nav li a.active {
  color: var(--font-color);
  font-weight: 500;
}
.bd-content {
  display: none;
  margin-top: 1.5rem;
}
.bd-content.active {
  display: block;
}
.copy-wrapper {
  position: relative;
}
.copy-wrapper:hover {
  color: var(--font-hover-color);
}
.copy-wrapper:hover p {
  background-color: var(--bg-hover-color);
  transform: scale(1.2);
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.8rem;
}

.content-wrapper .flex-item {
  text-align: center;
  padding: 0.3rem 0.4rem;
}
.content-wrapper .item-10 {
  width: 70px;
}
.copy-area {
  cursor: pointer;
}
.content-wrapper .flex-item p {
  width: 100%;
  max-height: 70px;
  padding: 0.6rem 0;
  margin: 0;
  border-radius: 0.2em;
  display: inline-block;
  border: 1px solid var(--copy-text-border-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.3rem;
  transition: transform 0.3s ease;
}
/* Text Area */
.text-area {
  width: 100%;
}
.text-area .input-container {
  padding: 0.5rem 0;
  background-color: var(--mytext-bg-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.text-area .input-wrapper {
  margin-left: calc(250px + 3rem);
  margin-right: 2.5rem;
  height: 2.5rem;
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 0.3em;
  align-items: center;
}
.text-area .input-wrapper,
.text-area .input-wrapper input {
  background-color: var(--input-bg-color);
}

.text-area input {
  padding: 0.4rem 0.3rem;
  border: none;
  width: 90%;
  height: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: var(--font-color);
}
.text-area input:focus {
  outline: none;
}
.pen-icon {
  display: inline-block;
  margin-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='16' height='16' ml-update='aware'%3E%3Cpath d='m153 633 412-412 236 237-411 411z' fill='%238ADCFF'/%3E%3Cpath d='M861 398 624 162l38-38c41-41 107-41 148 0l89 89c41 41 41 107 0 147l-38 38z' fill='%23F77490'/%3E%3Cpath d='m565 221 59-59 237 236-60 60z' fill='%23FDF17F'/%3E%3Cpath d='m390 870-186 38-112 23 23-113 38-185z' fill='%23FBD1AA'/%3E%3Cpath d='M204 908 92 931l23-113z' fill='%23889CA9'/%3E%3Cpath d='m194 674 412-412 53 53-412 412zm102 102 411-412 41 41-412 411z' fill='%2346CDFB'/%3E%3Cpath d='m336 816 412-411 13 12-412 412z' fill='%2315B7FF'/%3E%3Cpath d='m349 829 411-412 41 41-411 411z' fill='%2315B7FF'/%3E%3Cpath d='m903 356-42 42-53-53 42-42a98 98 0 0 0 0-139l53 53a98 98 0 0 1 0 139z' fill='%23F65D73'/%3E%3Cpath d='m748 405 60-60 53 53-60 60z' fill='%23FAD672'/%3E%3Cpath d='m390 870-186 38-112 23 14-67 45-10 186-38z' fill='%23F7BD81'/%3E%3Cpath d='M204 908 92 931l14-67 45-10z' fill='%2373859E'/%3E%3Cpath d='m906 206-89-89c-45-45-117-45-162 0l-37 37-1 1-59 59-412 412-3 6-38 184-23 113v1c0 3 1 6 3 8a10 10 0 0 0 7 3l2-1 112-23 186-38c2 0 4-2 5-3l411-411 59-59 1-1 38-38c45-44 45-117 0-161zm-282-30 223 222-46 46-222-223 45-45zM208 897l-82-82 33-162 28 28 53 53 48 48 1 1 40 40h1l12 13 27 27-161 34zm357-661 26 26-397 398-27-27 398-398zM208 674l398-398 39 39-398 398-39-39zm102 102 397-398 39 39-397 398-39-39zm-14-14-35-35 398-397 34 34-397 398zm-175 77 63 63-79 16 16-80zm269 16-27-26 398-398 26 27-397 397zm502-502-31 31-222-222 31-31c36-37 96-37 133 0l89 89c36 37 36 96 0 133z' fill='%2300435B'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
}

.fixedText {
  position: sticky;
  top: 0;
  z-index: 1;
}

.btn-copy {
  margin-right: 0.5rem;
  cursor: pointer;
  width: 6rem;
  display: inline-block;
  padding: 0.4rem 0;
  border-radius: 0.8rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-copy:hover::before {
  width: 100%;
}

.btn-copy:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--font-hover-color);
  border-radius: 0.8rem;
  z-index: -2;
}
.btn-copy:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #105f77;
  transition: all 0.3s;
  border-radius: 0.8rem;
  z-index: -1;
}
.bd-sidebar-toggle,
.navbar-toggler,
.myLogo {
  display: none;
}
.fixedAside {
  position: fixed;
  bottom: 0;
  top: 5.5rem;
}
/* Mobile */

@media (max-width: 768px) {
  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }
  .fixedTop {
    left: 2%;
    right: 2%;
  }
  header nav {
    flex-wrap: wrap;
  }

  .navbar-toggler.collapsed ~ #bdNavbar ul {
    height: 0px;
    opacity: 0;
  }
  #bdNavbar {
    width: 100%;
    overflow: hidden;
  }
  #bdNavbar ul {
    height: 127px;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    transition: height 0.2s, opacity 0.1s;
  }
  #bdNavbar ul li {
    margin-right: auto;
    width: 50%;
  }
  .darkMode {
    position: absolute;
    top: 1.1rem;
    right: 3.5rem;
  }

  .text-area .input-wrapper {
    flex-grow: 1;
    margin-left: 0.5rem;
    margin-right: 0;
  }
  .btn-copy {
    font-size: 0.7rem;
  }
  .pen-icon {
    width: 2rem;
  }
  .text-area .input-container {
    display: flex;
  }

  .bd-layout {
    padding: 0;
    margin-top: 0;
  }
  .bd-layout main {
    padding: 0 1rem;
  }
  .bd-sidebar-toggle {
    padding: 0 0.4rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--font-color);
    border: none;
  }
  .bd-sidebar-toggle.collapsed .bi-collapse {
    display: none;
  }
  .bd-sidebar-toggle:not(.collapsed) .bi-collapse {
    display: inline-block;
  }
  .bd-sidebar-toggle:not(.collapsed) .bi-expand {
    display: none;
  }
  .bd-sidebar {
    opacity: 0;
    transition: height 0.2s, opacity 0.1s;
    background-color: #f8f9fa;
    border-bottom: 1px solid var(--border-color);
  }
  .dark .bd-sidebar {
    background-color: #181818;
  }
  .bd-sidebar nav {
    visibility: hidden;
  }
  .bd-sidebar.show {
    opacity: 1;
    z-index: 1;
  }

  .bd-sidebar.show nav {
    visibility: visible;
  }
  .bd-sidebar nav {
    padding: 2rem 1rem 0 1rem;
  }
  .bd-main {
    margin-left: 0;
  }
  .content-wrapper .item-50 {
    width: 100%;
  }
  .bd-sidebar {
    position: fixed;
    top: 7rem;
    width: 100%;
    z-index: -1;
  }
  .fixedText ~ .bd-layout .bd-sidebar {
    top: 3rem;
  }
  nav .title {
    display: none;
  }
  #links {
    display: flex;
    flex-direction: column;
  }
  .content-wrapper .item-10 {
    width: 20%;
  }
  .bd-sidebar-toggle,
  .navbar-toggler,
  .myLogo {
    display: inline-block;
  }
  .fixedAside {
    position: fixed;
  }
}
