* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
body {
  --background-color: #ffffff;
  --mytext-bg-color: #f0f0f0;
  --input-bg-color: #ffffff;
  --border-color: rgb(180, 180, 180);
  --sidebar-color: rgba(0, 0, 0, 0.65);
  --sidebar-hover-color: rgba(0, 0, 0, 0.1);
  --copy-text-border-color: #ced4da;
  --font-color: #000;
  --font-hover-color: #2e8dc4;
  --bg-hover-color: #7ab8ee23;
}
body.dark {
  --background-color: #181818;
  --mytext-bg-color: #181818;
  --input-bg-color: #121212;
  --border-color: #4b4b4b;
  --sidebar-color: rgba(255, 255, 255, 0.842);
  --sidebar-hover-color: rgba(255, 255, 255, 0.5);
  --copy-text-border-color: #646464;
  --font-color: #fff;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--font-color);
}

.dark .text-area .input-container {
  box-shadow: 0 0.5rem 1rem rgba(170, 170, 170, 0.25),
    inset 0 -1px 0 rgba(145, 145, 145, 0.85);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
img,
svg {
  vertical-align: middle;
}
.container {
  padding: 0 1rem;
}
.container-xxl {
  margin: auto;
  max-width: 1280px;
}

.copy {
  pointer-events: none;
  cursor: pointer;
  position: absolute;
  padding: 0.3rem 0.4rem;
  background-color: var(--font-hover-color);
  color: #fff;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  right: 0.7rem;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.2s linear;
}

/* Dark Mode  */

.darkMode {
  cursor: pointer;
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: bottom;
}
.darkMode.active:before {
  opacity: 0;
}
.darkMode.active:after {
  opacity: 1;
}
.darkMode:after,
.darkMode:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: no-repeat 50%/120%;
}
.darkMode:before {
  /* Moon */
  background-image: url("data:image/svg+xml,%3Csvg class='icon' width='16' height='16' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' ml-update='aware'%3E%3Cpath fill='%23fff' d='M515 171a341 341 0 0 0 293 512 341 341 0 1 1-293-512z'/%3E%3C/svg%3E");
}
.darkMode:after {
  opacity: 0;
  /* Sun */
  background-image: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='16' height='16' ml-update='aware'%3E%3Cpath d='m344 298-58-58-48 48 58 58 48-48zm-90 183h-96v64h96v-64zm290-318h-65v93h65v-93zm241 125-49-48-57 58 45 45 61-55zM679 728l57 58 46-45-58-58-45 45zm90-183h96v-64h-96v64zM511 320c-106 0-193 87-193 193s87 193 193 193c107 0 193-87 193-193s-86-193-193-193m-32 543h65v-93h-65v93zM238 738l48 48 58-58-45-45-61 55z' fill='%23fff'/%3E%3C/svg%3E");
}

/* Header */
header {
  min-height: 70px;
  background-color: #181818;
}

header nav {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
h1 {
  color: #fff;
  font-size: 1.4rem;
}

/* NavBar */
#bdNavbar {
  display: flex;
}

.navbar-toggler {
  align-items: center;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
}
.header_container nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.85);
}
.header_container nav ul a {
  display: inline-block;
}
.header_container nav ul li {
  padding: 0 0.6rem;
}
.header_container nav ul a:hover {
  color: #fff;
}
.header_container nav ul a[aria-current] {
  font-weight: 500;
  color: #fff;
}
.icons_wrapper {
  align-items: center;
}

/* Links */
#links {
  margin: 2rem auto 1.5rem;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 0.8em;
}

#links a {
  padding: 9px 20px;
  color: var(--font-color);
  text-decoration: none;
}

#links a:hover {
  text-decoration: underline;
  color: var(--font-color);
}
