body.dark #src {
  box-shadow: 0 0.5rem 1rem rgba(170, 170, 170, 0.25),
    inset 0 -1px 0 rgba(92, 91, 91, 0.85);
}

.copy-wrapper {
  position: relative;
}
.copy-wrapper:hover .copy-area {
  color: var(--font-hover-color);
  background-color: var(--bg-hover-color);
}
.copy-wrapper:hover span {
  opacity: 1;
}

.copy {
  right: 1.2rem;
  transform: translate(0, -50%);
}

/* Main */
h2 {
  margin: 1rem 0;
}

#input {
  position: sticky;
  top: 0;
  z-index: 1;
}

h2 {
  color: #666;
  text-align: center;
}

h3 {
  margin-bottom: 0;
}

#out,
#input {
  padding: 0.3rem 0.4rem;
  background-color: var(--background-color);
}

#out #demo,
#input textarea,
.copy-area {
  background-color: var(--background-color);
  margin-top: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid;
  border-radius: 0.3rem;
  outline: 0;
  resize: none;
  overflow: hidden;
  color: var(--font-color);
}
#input textarea {
  padding: 2em 1em 0.9em 1em;
}
#out #demo {
  padding: 1rem;
  color: #a8a8a8;
}
#src {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.8rem;
}
#out {
  margin-top: 1rem;
}

#out .copy-area {
  padding: 1rem 1rem 1rem 1rem;
  position: relative;
  transition: ease-in-out 0.2s all;
  cursor: pointer;
}

.hyper {
  background-color: #ffe4e45b;
}

.wrap {
  width: 80%;
  margin: 0 auto;
}
#intro {
  margin-top: 0.8rem;
}
#intro ul {
  padding-left: 2rem;
}
#intro ul li {
  margin-bottom: 0.8rem;
}
#intro p strong {
  background: #ffe;
  padding: 1px 2px 1px;
  margin-right: 9px;
}

#renderLoading {
  transform: translate3d(0, 0, 0);
  transition: ease-in-out 0.2s all;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.2;
  background: #000;
  width: 60px;
  height: 30px;
}

.working {
  background-color: #fff;
}

/* Mobile */

@media (max-width: 768px) {
  .wrap {
    width: 95%;
    margin: 0 auto;
  }

  #renderLoading {
    display: none;
  }

  #out #demo,
  #input textarea,
  .copy-area {
    font-size: 1rem;
  }

  #links {
    display: flex;
    flex-direction: column;
  }
}
